# OS
.DS_Store

# IntelliJ
.idea/*

# Visual Studio Code
.vscode/*
.history/
*.app
.snapshots/*

# Local env files
.env

# Node modules
node_modules/*

# Vercel
.vercel/*
.vercel

#ESlint
.eslintcache